<h2 style="text-align:center;">
    <strong>NEC Blockchain</strong>
</h2>

<div class="panel panel-default">
    <div class="panel-heading" style="text-align:right;">
        <h4>
                <button class="btn btn-info"  (click)="downloadReport()">Download Report <i class="fa fa-download"></i></button>
                <button class="btn btn-info"  (click)="showBlacklist()">Blacklists</button>
                <button class="btn btn-info"  (click)="showBlacklist()">Reconcile</button>
                <button class="btn btn-info" [disabled]="(reconcileStatus != 'Reconcile')" (click)="toggleServerPolling()">Server Polling : {{(serverPollingStatus ? "ON": "OFF")}}</button>
                <button class="btn btn-info" ng-click="vm.clearUserSession()">Logout</button>
        </h4>

    </div>
    <div class="panel-body">
        <div class="container">
            <div class="form-group">
                <label class="control-label col-sm-2" for="Organization Name">Organization:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" disabled ng-model="vm.user.username">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-md-12" ng-controller="TransactionDetails.TransactionDetailsController as vm">
    <ng-include src="'transactionDetails/transactionDetails.html'" />
    <!-- </div> -->

</div>