body, html { height:100%; margin:0; background:#f2f2f2;}

.container-fluid, .contentBox {height:100%;}
.Maincontainer { height:88%;}



.left-panel {height:100%;}
body{font-family:'arial',Helvetica,Arial,sans-serif!important;  color:#5e5e5e!important; font-size: 14px; line-height: 1.42857143; color: #333; }





.alert-danger {
	color: #00529B !important;
	background-color: #d11212!important;
	font-size: 15px !important;
}
.alert-success{
	color: #00529B !important;
	background-color: #3587ca!important;
	font-size: 15px !important;
}

.header {margin-top:20px; margin-bottom:30px; padding:0px;}
.breadcrum{ background-color:#cf022b; text-align:right; font-size:1.45em; font-weight:bold; margin-top:10px; margin-bottom:15px; padding:10px; color:#fff;} 

.header .centered {text-align:center}
.left-panel { background-color:#f8f8f9; margin:0!important;}

.Maincontainer {padding:0!important;}
.newPoll { font-size:1.5em;  color:#cf022b;}
.newPoll:before { margin:10px;}
h1{ font-family:'poll',Helvetica,Arial,sans-serif!important;  color:#5e5e5e!important;}
h3 { font-family:'poll',Helvetica,Arial,sans-serif!important; display:inline-block;}
.infopadding{ padding:10px;}

.infoblock {border:1px solid #ccc; font-size:1.3em; font-weight:bold}

.infoblock span {color:#cf022b}

.userDetails {float:right; margin-top:-10px;}

.userDetails .glyphicon {font-size:2em; position:relative; top:10px;}

.userDetails .user-txt {margin-left:10px; margin-right:50px; display:inline-block}

.pollBox, .welcomeBox {
	width:80%; margin:0 auto; ;
}

.pollBox .header {
	background:#cf022b;
	color:#fff;
	padding:10px;
	font-size:1.8em;
	text-transform:uppercase;
}

.pollBox .body {
	background:#e4e4e4;
	color:#000;
	padding:20px;
}

.pollBox .footer {
	color:#000;
	padding:20px;
	text-align:center;
}

.pollBox .footer button{
	background:#cf022b;
	border:0;
	border-radius:50px;
	color:#fff;
	padding:5px 30px 5px 30px;
	font-size:1.5em;
}

.footer button{
	background:#d9d9d9;
	border:0;
	border-radius:50px;
	color:#000;
	padding:5px 30px 5px 30px;
	font-size:1em;
	text-transform:uppercase;
	margin-top:20px;
}

.pollBox .form-group { font-size:1.5em;}

.welcomeBox .footer button{
	background:#ef7d00;
	border:0;
	border-radius:50px;
	color:#fff;
	padding:5px 30px 5px 30px;
	font-size:1.5em;
	text-transform:uppercase;
	margin-top:20px;
}

.welcomeBox .body {
	background:#cf022b;
	color:#fff;
	padding:20px;
	text-align:center;
	font-size:1.5em;
}

.welcomeBox .footer {
	color:#000;
	text-align:center;
}

.pollResult {width:100%;}

.pollResult .footer button{
	background:#d9d9d9;
	border:0;
	border-radius:50px;
	color:#000;
	padding:5px 30px 5px 30px;
	font-size:1.5em;
	text-transform:uppercase;
	margin-top:20px;
}

.pollResult .footer {
	color:#000;
	text-align:center;
}

.pollResult .header {
	color:#000;
	font-size:1.8em;
	text-transform:uppercase;
	padding-bottom:20px
}

.pollResult .body h3 {
	font-size:1.2em;
	font-weight:bold;
	display:inline-block;
	margin-top:10px;
}

select {
   border:1px solid #ccc!important; 
}
.panel-body {
    
    padding: 8px 15px!important;
}

.panel-body:hover {
    
    background:#f5f5f5!important;
}


.indexSopraSterialogo{ text-align:center; margin-top:50px;}

.loginBlock{ 
text-align:center; 
background-image:url(../images/backRegister.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed; 	
   background-color:#f5f5f5; background-size:cover;

    }
   
.loginBox{ background:#455560; padding:10px; box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.3); margin: 0 auto; margin-top:50px;}
	
	.loginTextbox{ width:350px!important; margin:0 auto; height:45px!important;  border-radius:0px!important; } 
	.loginButton{ background: #7d89a5; width:350px; text-transform:uppercase; font-size:1.8em!important; font-weight:bold; color:#fff;}
	.loginButton:hover{  background: #677593; width:350px; text-transform:uppercase; font-size:1.8em!important; color:#fff!important;}

.privacyPolicy {margin-top:20px; }	

.contentBox .form-inline label{ padding:8px 0 5px 30px!important; margin-right:20px; }
.textboxMedium {width:300px!important;}


/*--------KYC CSS --------------*/

.applicationTitle {
	font-size:30px;
	font-weight:bold;
	color:#fff;
	vertical-align:middle;
	height:85px;
	padding:5px 10px;
}

.applicationTitle img {
	float:right;
}

.applicationTitle span {
	float:left;
	margin-top:15px;
}

.kycLogin .loginBox {
	margin-top:100px;
}

.kycLogin .loginButton {
width:100%!important;
 }
 
 .displayFlex {
 	display:flex;
 }
 
.loginBlock  .modal {
 	text-align:left!important;

}

.purple {
background:#8C2350;

}

.yellow {
	background:#F7A823;

}

.green {
	background:#2DAA64;

}

.blue {
	background:#41738C;

}

.orange {
	background:#EF7D00;
	
}

.grey {
	background:#222223;

}

.colorBox {
	margin:10px 0 10px 0;
	height:100px;
	padding:10px;
	float:left;
	width:100%;
	color:#fff;
}

.blockBox {
  background:#fff;

	border: 1px dashed #ccc;

}
.blockBox-content {
	padding:10px;
}

.blockDetails {
	background:#DDDDDD;
	padding:10px;
}

.file {
  visibility: hidden;
  position: absolute;
}

.lgIcon {
	font-size:21px!important;
	background:transparent!important;
	padding: 5px 12px !important;
	border:0!important;
}

.border-radius {
	border: 1px solid #ccc!important;
    border-radius: 5px!important;
}

.top-margin10 {
	margin-top:10px;
}

.bottom-margin10 {
	margin-bottom:10px;
}

.bottom-margin10 {
	margin-bottom:10px;
}

.paddingAll {
	padding:10px 0 44px 0;}


.form-horizontal .form-group {
    margin-right: 0!important;
    margin-left: 0!important;
}

.rightAlign {
	text-align:right;	
}

.input-group-file input {
	width:50%!important;
}

.input-group-file button {
    line-height:22px;
}

.input-group-file-download input {
    width: 100%!important;
}

.input-group-file-download button {
    line-height:22px;
}

.row.blockBox {
	margin-left:0;
	margin-right:0;
}

.detailBox {
	background:#fff;
}

.margin-right10 {
	margin-right:10px;
}

.margin-right20 {
	margin-right:20px;
}

.box-header.with-border {
    border-bottom: none;
}
.box-header {
    color:#0b2a43;;
    display: block;
    padding: 5px 10px;
    position: relative;
	background:#fff;
	font-size:24px;
	font-weight:bold;
	border-bottom:1px #ccc solid!important;
}

.info-box {
    display: block;
	background:#fff;
	margin-bottom:10px;	
		margin-top:10px;	
  height: 64px;
    border:1px dashed #ccc;;

}

 md-tab-item {font-size:14px!important; font-weight:bold!important; color:#0b2a43!important; } 
 /* md-tab-item {font-size:14px!important; font-weight:bold!important; color:#0b2a43!important; }  */


.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #fff !important;
}

.info-box-icon {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0px;
    display: block;
	color:#fff;
    float: left;
	background-color:#9aaacc;
    width: 100px;
    text-align: center;
    line-height:30px;
   padding:6px;
	font-weight:200!important;
}

.info-box img { width: 50px;}

.info-box-icon1 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0px;
    display: block;
	color:#707B7C;
    float: left;
	background-color:#FF003F;
    width: 100px;
    text-align: center;
    font-size: 30px;
    
	padding:6px;
	font-weight:200!important;
}

.info-box-icon2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0px;
    display: block;
	color:#fff;
    float: left;
	background-color:#75A169 ;
    width: 100px;
    text-align: center;
    font-size: 30px;
    	padding:6px;
	font-weight:200!important;
}

.info-box-icon3 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0px;
    display: block;
	color:#fff;
    float: left;
	background-color:#10C8B1;
    width: 100px;
    text-align: center;
    font-size: 30px;
    
	padding:6px;
	font-weight:200!important;
}

.info-box-content {
  padding: 6px 22px;
    margin-left: 95px;
    color: #0b2a43!important;
	
}

.info-box-text {
    text-transform: uppercase;
}
.progress-description, .info-box-text {
    display: block;
    font-size:16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
        margin-top: -11px;
    display: block;
    font-weight: bold;
    font-size:2em;
    min-height:40px;
}

.info-box small {
    font-size: 14px;
}
.small, small {
    font-size: 85%;
}
small {
    font-size: 80%;
}

.glyphicons-pie-chart:before {
    content: "\E043";
}

.highcharts-legend-item text {
	font-size:14px!important;
	color:#444!important;
	line-height:18px!important;
	font-weight: 400 !important;
}

.highcharts-legend-item {
	margin-bottom:10px!important;
	line-height:25px!important;
}

label h2 {
    margin-top: 10px;
    margin-bottom: 0;
	font-size:25px;
}

.register label h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 17px; font-family:poll; color:#fff;
	text-align:left;
}

.privacyPolicy a {
	color:#c90000;
	text-decoration:none;
}

.loginBox.register {
	width:600px!important;
}

.loginBox.register .form-group .row div {
	margin-bottom:10px!important;
	
	text-align:right;
}

.blockBox.box-info {
    border-top-color: #00c0ef;
}

.blockBox.box-progress {
    border-top-color: #00a65a;
}


.radio {
	margin:0!important;
}

.box-risklavel .progress {
    height: 20px!important;
    margin-bottom: 13px;
	margin-top: 10px;
    overflow: hidden;
    background: rgba(0,0,0,0.2)!important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.box-risklavel .progress-bar.low, div.info-box-legend.low {
    background-color: #3dc965!important;
	}
	
	.box-risklavel .progress-bar.medium, div.info-box-legend.medium {
    background-color: orange!important;
	}
	
	.box-risklavel .progress-bar.high, div.info-box-legend.high {
    background-color: red!important;
	}
	
	.info-box-legend {
	font-size:12px; text-transform:capitalize;
	float:left;
	margin-right:15px;
	
	}
	div.info-box-legend  {
		width:15px; height:15px;
		margin-right:5px!important;
	}
	
	

	
	
	.box-risklavel .info-box-number {
		font-size:2em;
	}
	
	.highcharts-background {
		fill:#fff!important;
	}
	
	.kycstatus .box-header {
		background:transparent!important;
		border-bottom:1px solid #ccc;
		margin-bottom:10px;
	}
	
	.navbar-default {
    background-color: transparent;
    border: 0;
	
	}
	
	.navbar-collapse.collapse.in .user-txt {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    display: inline-block;
    white-space: nowrap;
}
	
	
	/*------*/
	
	.kycstatus .progress {
    height: 2px!important;
    margin-bottom: 5px;
    overflow: hidden;
    background: rgba(0,0,0,0.2)!important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.kycstatus .progress-bar {
    background-color: #fff!important;
	}
	
	.kycstatus .info-box-number {
		font-size:2em;
	}
	
		.kycstatus .box-header {
		background:transparent!important;
		border-bottom:1px solid #ccc;
		margin-bottom:10px;
	}
	
	.kycstatus .info-box {
    min-height: 135px!important;
	
	}
	
	.kycstatus .info-box-icon {
		height:135px;
		line-height: 135px;
	}
	
	.kycstatus .info-box-content {
   line-height:100px;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.powered {
	float:left;
	color:#fff;
	font-size:12px;
	line-height:45px;
}

.blockBox.box-primary {
    border-top-color: #3c8dbc;
}
/*------------------ progress tracker---------------*/


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; margin: 10px!important}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fdc15c; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #F7A823; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fdc15c;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #ccc;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.progress {background-color:#ccc!important;}

/* Pie Chart */
.progress-pie-chart {
width:200px;
height: 200px;
border-radius: 50%;
background-color: #E5E5E5;
position: relative;
}
.progress-pie-chart.gt-50 {
background-color: #81CE97;
}

.ppc-progress {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 100px, 200px, 0);
background: #81CE97;
transform: rotate(60deg);
}
.gt-50 .ppc-progress {
clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
clip: rect(0, 200px, 200px, 100px);
background: #E5E5E5;
}

.ppc-percents {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 173.91304px/2);
top: calc(50% - 173.91304px/2);
width: 173.91304px;
height: 173.91304px;
background: #fff;
text-align: center;
display: table;
}
.ppc-percents span {
display: block;
font-size: 2.6em;
font-weight: bold;
color: #81CE97;
}

.pcc-percents-wrapper {
display: table-cell;
vertical-align: middle;
}

.progress-pie-chart {
margin: 50px auto 0;
}



/*---------------data table -----------------*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding:0.2em 0.5em !important;
}

table.dataTable {
	border:1px solid #bbb;
}
.btn-primary {
    color: #fff;
	font-size:13px;
	background-color:#677593 !important;
    border:none!important; border-radius:0!important; }
	
	.btn-primary:hover {
    color: #fff;
	background-color:#7d88a4 !important;
    border:none!important;  border-radius:0!important;  }
	
	.blockBox-content table th {
background:#677593; font-size:13px;color:#fff;}

.modalth {
	background:#677593; font-size:13px;color:#fff;}

	.modalbox-header {
		margin-top: 20px;
		color:#0b2a43;;
		display: block;
		padding: 5px 10px;
		position: relative;
		font-size:19px;
		font-weight:bold;
		border-bottom:1px #ccc solid!important;
	}


	.blockBox-content table td  {color:#0b2a43; font-size:12px;}
	.blockBox-content table td  a { font-size:12px;  color:#0b2a43;    font-weight: bold;}
	
	table.dataTable { border:none!important;}
	
	.checkbox label, .radio label, label {
    font-size:12px!important;
	line-height:16px!important;

  
font-weight:normal!important;}
	
	
	
.bs-wizard > .bs-wizard-step > .progress > .progress-bar { background:#bd2025!important;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot { background:#ccc!important;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after  { background:#677593!important;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate { font-size:14px!important;}
.dataTables_info  { font-size:14px!important; font-weight:bold;}
.dataTables_wrapper .dataTables_paginate .paginate_button { border-radius:0px!important; }

.navbar-brand {padding:0px!important; height:auto!important;}
.navbar { padding:10px; background-color:#dee1e5; border-radius:0px; margin-bottom:0px!important; box-shadow:0px 0px 1px 1px rgba(0,0,0,0.2);}
.nav>li>a:focus, .nav>li>a:hover { background:#ccc!important;}
.dark{ color:#2a323d!important;}
.fontpoll{font-family:poll!important;}

/*Manish */

.subLebel{
color:#647593!important;
font-size: 14px!important;
font-weight: bold!important;
 color: #0b2a43!important;
}
.widthClaims
{
    clear:both;
    width:95%;
    height: 1px;
    color: rgb(100, 95, 95);
    background-color: rgba(87, 82, 82, 0.055);
    margin-top:-6px;
}

.widthFull
{
    clear:both;
    width:100%;
    height: 1px;
    color: #000;
    background-color: #000;
    margin-top:-6px;
}


.control-label  {text-align:left!important; color:#0b2a43!important; font-size: 12px!important;}

.infopadding2{ padding-top:10px;padding-right:10px;}

/*Manish */
.errorMsg
{
	color:Red;
}

.orStyle
{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	
}
.orText
{
	font-size:15px;
	font-weight: bold;
}
.blockBox-content-search {
	padding:0px;

}
.searchColor {
   color:#0b2a43;
}
.box1 { background:#0B2A43;}
.box2 { background:#2A323D;}
.box3 { background:#37414F;}
.box4 { background:#647593;}

.highcharts-container {height:220px!important;}  
.highcharts-root  {height:220px!important;}
.radio-btn {
			margin-right: 2rem;
			border: 0.5rem solid black;
			background:red;
		}

		.sorting_1 {background:transparent!important;}
		.ngdialog-content {background:#fff!important;}
		
		.completeButton{ background:url(../images/Complete_task.png); background-repeat:no-repeat; width:35px; height:35px; border:none; }
		.completedButton{ background:url(../images/Completed.png); background-repeat:no-repeat; width:35px; height:35px; border:none; }
		.readButton{ background:url(../images/read.png); background-repeat:no-repeat; width:35px; height:35px; border:none; }
		.form-control { border-radius:0!important;  background: #fff!important; color:#0b2a43!important; }

.wfull{
	width: 100%!important;
	min-height: 1.8em!important;
}		
/* .fix-height{
	min-height: 1.8em!important;
} */
.wfull.date .display .placeholder {
	line-height: 22px!important;
	font-size: 13px!important;
}