<!-- Starts -->
<div class="container-fluid">
    <!-- <div class="panel-group col-md-12"> -->
        <div  class="panel panel-default">
           
            <div class="panel-body" class="table-responsive">
                    <button class="btn btn-info" ng-click="vm.addRecords()">Add Records</button>
                <div class="panel-heading" style="text-align:center;">
                    <h4>
                        <strong>Transactions</strong>
                    </h4>
                </div>
                <div class="panel-body" class="table-responsive">
                    <table border="1" class="table table-striped">
                        <tr>
                                <th>TransactionType</th> 
                                <th>MediaType</th>      
                                <th>MediaNo</th>        
                                <th>EquipmentType</th>  
                                <th>EquipmentID</th>   
                                <th>StopID</th>         
                                <th>RouteID</th>        
                                <th>CompanyID</th>      
                                <th>Organisation</th>         
                                <th>MatchStatus</th>      
                        </tr>
                        <!-- <tr ng-repeat="instance in vm.borrowerLoansList track by $index"> -->
                        <tr >
                                <td>{{instance.transactionDate}}</td>
                                <td>{{instance.mediaType}}</td>
                                <td>{{instance.mediaNo}}</td>
                                <td>{{instance.equipmentType}}</td>
                                <td>{{instance.equipmentId}}</td>
                                <td>{{instance.stopId}}</td>
                                <td>{{instance.routeId}}</td>
                                <td>{{instance.companyId}}</td>
                                <td>{{instance.organisation}}</td>
                                <td>{{instance.matchStatus}}</td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>


    <!-- </div> -->
    

</div>